<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "airdoc-banner-4.jpg" %>)">
  <div class="container heromain">


      <div class="title">AirDoc</div>
      <div class="sub-heading">The private healthcare booking
      service that puts you in charge of your healthcare,
      matching you with the best healthcare professionals in the country
      </div>

        <%= link_to 'check consultations', consultations_path, class: "landing-btn text-decoration-none d-inline-block mt-6"%>


        <%# <div data-controller="toggle">
            <button data-action="click->toggle#fire" class="landing-btn" role="button"> Check consultations </button>
              <div class=" form-open" data-toggle-target="appForm"></div>
        </div> %>



      <div class="stats">
        <div class="stat-1">
          <h1>88+</h1>
          <p>Expert Doctors</p>
        </div>
        <div class="stat-2">
          <h1>20K+</h1>
          <p>Happy Patients</p>
        </div>
        <div class="stat-3">
          <h1>100+</h1>
          <p>Award Winner </p>
        </div>
      </div>


  </div>
</div>
