<h1 class="home-title">Home</h1>
<div class="home-div" data-controller="typed">
  <%if current_user%>
    <% name = "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}"%>
    <h3 class="title">Welcome <%= name %> </h3>
    <br>
    <h3 class="title"
    data-typed-strings-value="<%=['Welcome', current_user.first_name.capitalize, current_user.last_name.capitalize]%>"= ></h3>
  <%else%>
    <p class="title">Welcome to my home page</p>
  <%end%>
  <span data-typed-target="lorem"></span>
</div>
