<h1 class="home-title">Home</h1>
<div class="home-div" data-controller="typed">
  <%if current_user%>
    <% name = "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}"%>
    <h3 data-typed-target="message" class="title" style="display:none;">Welcome <%= name %> </h3>
    <h3 style="color: blue;" data-typed-target="display" class="title"></h3>
    <br>
  <%else%>
    <p class="title">Welcome to my home page</p>
  <%end%>
  <span data-typed-target="lorem"></span>
</div>

<% if user_signed_in?%>
  <div data-controller="toggle">
      <button data-action="click->toggle#fire" class="btn btn-success mx-5 mb-5"> see appointments </button>

      <div class=" form-open" data-toggle-target="appForm">
        <%= render "appointments" %>
      </div>
  </div>

<%end%>


<% if user_signed_in?%>
  <div data-controller="toggle">
      <button data-action="click->toggle#fire" class="btn btn-success mx-5 mb-5"> All consultations </button>

      <div class=" form-open" data-toggle-target="appForm">
        <%= render "consultations" %>
      </div>
  </div>

<%end%>
